In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.Series()

Series([], dtype: object)

In [3]:
name = [['ram','ghanshyam','laxman','vinod']]

In [4]:
pd.Series(name)

0    [ram, ghanshyam, laxman, vinod]
dtype: object

In [5]:
s = pd.Series(data = name ,index = ["A","B","C","D"])

ValueError: Length of values (1) does not match length of index (4)

In [ ]:
dic = {
    "a":"navya",
    "b":"harry",
    "c":"mani",
    "d":"raj",
    "e":"Nisha"
}

In [ ]:
b = dic['d']
b

'raj'

In [ ]:
df = pd.DataFrame(name)
df

     0          1       2      3
0  ram  ghanshyam  laxman  vinod

In [ ]:
data = [
    ["Prateek",89,90],
    ["raj",9,80],
    ["satish",76,50],
    ["pandya",65,10],
    ["santosh",76,00]]

In [ ]:
data

[['Prateek', 89, 90],
 ['raj', 9, 80],
 ['satish', 76, 50],
 ['pandya', 65, 10],
 ['santosh', 76, 0]]

In [ ]:
col = ["Name","Python","ML"]
df = pd.DataFrame(data,columns = col)
[
    df

      Name  Python  ML
0  Prateek      89  90
1      raj       9  80
2   satish      76  50
3   pandya      65  10
4  santosh      76   0

In [ ]:
df2 ={
    "Name":["Shubham","Sahil","Hitesh","Kamlesh","Nikhil"],
    "Python":[80,45,78,69,85],
    "ML":[90,80,70,60,50]
}
df3 = pd.DataFrame(df2)
df3

      Name  Python  ML
0  Shubham      80  90
1    Sahil      45  80
2   Hitesh      78  70
3  Kamlesh      69  60
4   Nikhil      85  50

In [ ]:
df3.Name =="Sahil"

0    False
1     True
2    False
3    False
4    False
Name: Name, dtype: bool

In [ ]:
df4 ={
    "Name":["Shubham","Sahil","Hitesh","Kamlesh","Nikhil"],
    "Python":[80,45,78,69,85],
    "ML":[90,80,70,60,50]
}
df = pd.DataFrame(df4,index = ["Rank1","Rank2","Rank3","Rank4","Rank5"])
df

          Name  Python  ML
Rank1  Shubham      80  90
Rank2    Sahil      45  80
Rank3   Hitesh      78  70
Rank4  Kamlesh      69  60
Rank5   Nikhil      85  50

In [ ]:
d = np.random.randn(10,4)
df = pd.DataFrame(d,columns=["a","b","c","d"])

df

          a         b         c         d
0  0.634316  1.602731 -0.755653  1.251411
1  0.410008 -0.629458  0.493676  0.689672
2  0.552108 -0.220232  1.229445  0.802924
3 -1.073735  0.354281 -1.460985 -1.913851
4  0.526368  2.026471  0.007454 -1.076366
5 -0.401862 -1.489288  0.829491 -0.760520
6  1.261261 -0.117615 -0.701326 -0.290630
7  0.111712 -0.990143 -1.799096  1.136309
8 -0.026199  0.337094 -1.491904  1.327661
9  1.892325  1.432000 -0.531226 -0.160883

In [ ]:
df.to_csv("df.csv")

In [ ]:
data2 = pd.read_csv('student_marks.csv')
data2

,Name,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,05-04-1988,55,45,56,87,21,52,89,65
1,Suresh,M,04-05-1987,75,96,78,64,90,61,58,2
2,Ramesh,M,25-05-1989,25,54,89,76,95,87,56,74
3,Jessica,F,12-08-1990,78,96,86,63,54,89,75,45
4,Jennifer,F,02-09-1989,58,96,78,46,96,77,83,53
5,Annu,F,05-04-1988,45,87,52,89,55,89,87,52
6,pooja,F,04-05-1987,55,64,61,58,75,58,64,61
7,Ritesh,M,25-05-1989,54,76,87,56,25,56,76,87
8,Farha,F,12-08-1990,55,63,89,75,78,75,63,89
9,Mukesh,M,02-09-1989,96,46,77,83,58,83,46,77

In [ ]:
data2["DOB"] = pd.to_datetime(data2["DOB"])

ValueError: time data "25-05-1989" doesn't match format "%m-%d-%Y", at position 2. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
data2['DOB']

0    05-04-1988
1    04-05-1987
2    25-05-1989
3    12-08-1990
4    02-09-1989
5    05-04-1988
6    04-05-1987
7    25-05-1989
8    12-08-1990
9    02-09-1989
Name: DOB, dtype: object

In [ ]:
data2['Year']  = data2['DOB'].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [6]:
data2['DOB']

NameError: name 'data2' is not defined

In [ ]:
data2.loc[2:]

          a         b         c         d
2  0.552108 -0.220232  1.229445  0.802924
3 -1.073735  0.354281 -1.460985 -1.913851
4  0.526368  2.026471  0.007454 -1.076366
5 -0.401862 -1.489288  0.829491 -0.760520
6  1.261261 -0.117615 -0.701326 -0.290630
7  0.111712 -0.990143 -1.799096  1.136309
8 -0.026199  0.337094 -1.491904  1.327661
9  1.892325  1.432000 -0.531226 -0.160883

In [ ]:
data2

          a         b         c         d
2  0.552108 -0.220232  1.229445  0.802924
3 -1.073735  0.354281 -1.460985 -1.913851
4  0.526368  2.026471  0.007454 -1.076366
5 -0.401862 -1.489288  0.829491 -0.760520
6  1.261261 -0.117615 -0.701326 -0.290630
7  0.111712 -0.990143 -1.799096  1.136309
8 -0.026199  0.337094 -1.491904  1.327661
9  1.892325  1.432000 -0.531226 -0.160883

In [ ]:
data2.loc[data["Gender"]=="M","Name"]

KeyError: 'Gender'