In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('imdb.csv')

In [4]:
df.head(10)

   rank                                      moviename    year
0   1.0                       The Shawshank Redemption  (1994)
1   2.0                                  The Godfather  (1972)
2   3.0                          The Godfather Part II  (1974)
3   4.0                                The Dark Knight  (2008)
4   5.0                                   12 Angry Men  (1957)
5   6.0                               Schindler's List  (1993)
6   7.0  The Lord of the Rings: The Return of the King  (2003)
7   8.0                                   Pulp Fiction  (1994)
8   9.0                Il buono, il brutto, il cattivo  (1966)
9  10.0                                     Fight Club  (1999)

In [5]:
df.shape

(100, 3)

In [6]:
df.isnull

<bound method DataFrame.isnull of      rank                            moviename    year
0     1.0             The Shawshank Redemption  (1994)
1     2.0                        The Godfather  (1972)
2     3.0                The Godfather Part II  (1974)
3     4.0                      The Dark Knight  (2008)
4     5.0                         12 Angry Men  (1957)
..    ...                                  ...     ...
95   96.0                   North by Northwest  (1959)
96   97.0                   A Clockwork Orange  (1971)
97   98.0                               Snatch  (2000)
98   99.0  Le fabuleux destin d'AmÃ©lie Poulain  (2001)
99  100.0                              The Kid  (1921)

[100 rows x 3 columns]>

In [9]:
df.size

300